# Credenciais do Supabase
SUPABASE_DB_HOST=db.oqezzrwschncojmxkfts.supabase.co
SUPABASE_DB_PORT=6543
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=sua_senha_aqui

# Credenciais do Kaggle
KAGGLE_API_TOKEN=seu_token_aqui
